@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #010135 0%, #0a0a0a 100%);
}
p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(100, 100, 100);
}

.navbar-brand img {
    width: 50px;
}

.navbar-toggler {
    background-color: rgb(97, 97, 97);
    ;
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #010135 0%, #0a0a0a 100%);

}

.card {
    background: linear-gradient(270deg, #010135 0%, #0a0a0a 100%);
    color: aquamarine;
}

a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}
    footer,
    .btn-outline-primary {
        background: linear-gradient(270deg, #010135 0%, #0a0a0a 100%);
    }
    .media-links{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .call-anim {
        animation: call 2s ease 0s infinite normal forwards;
    }
    @keyframes call {
        0%,
        100% {
            transform: rotate(0deg);
            transform-origin: 50% 50%;
        }
    
        10% {
            transform: rotate(8deg);
        }
    
        20%,
        40%,
        60% {
            transform: rotate(-10deg);
        }
    
        30%,
        50%,
        70% {
            transform: rotate(10deg);
        }
    
        80% {
            transform: rotate(-8deg);
        }
    
        90% {
            transform: rotate(8deg);
        }
    }

    @media (max-width: 755px) {
        .carousel-indicators {
            display: none;
        }
    }